body {
  margin: 0;
  padding: 0;
  background: #eee;
  color: #222;
  font-family: "Varela Round";
}


body * {
  transition: box-shadow 0.400s ease-in-out, background  0.400s ease-in-out;
}

.App{
  width: 100%;
  max-width: 1920px;
  margin: 0px auto;
  background: #eee;
  padding-bottom: 40px;

}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  padding: 10px 0px;
  z-index: 99;
  top: 0px;
  max-width: 1920px;
  background: #eee;
  -webkit-box-shadow: 0px 10px 8px -13px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 8px -13px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 8px -13px rgba(0,0,0,0.75);
 
}

/* ----------Main.js------------ */

header h1 {
  padding-top: 200px;
  font-size: 6rem;
  text-transform: uppercase;
  width: 40%;
  margin: 0 auto;
  color: #333;
  text-align: center;
}

.itemsContainer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  width: 40%;
  max-width: 400px;
  border-bottom: 3px solid transparent;
  margin-bottom: 60px;
}

.item:hover {
  border-bottom-color:rgb(253, 173, 0);
}


.item > .cover {
  width: 100%;
  height: 300px;
  background-size: 120%;
  background-position: center;
  margin-bottom: 20px;
}
.item:hover > .cover {
  background-size: 130%;
  
}
.item a {
  color: #222;
  text-decoration: none;
}