body {
  margin: 0;
  padding: 0;
  background: #eee;
  color: #222;
  font-family: "Varela Round";
}


body * {
  transition: box-shadow 0.400s ease-in-out, background  0.400s ease-in-out;
}

.App{
  width: 100%;
  max-width: 1920px;
  margin: 0px auto;
  background: #eee;
  padding-bottom: 40px;

}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  padding: 10px 0px;
  z-index: 99;
  top: 0px;
  max-width: 1920px;
  background: #eee;
  -webkit-box-shadow: 0px 10px 8px -13px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 8px -13px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 8px -13px rgba(0,0,0,0.75);
 
}